#
# Ci-dessous les variables pour configurer les conteneurs de idref-docker
# Marche à suivre:
#   il faut copier ce fichier dans un fichier .env
#   avant de démarrer l'application avec docker-compose up
#

##############################################
# VERSION
IDREF_API_DERIVATION_VERSION=develop
DATAIDREF_VERSION=develop


##############################################
# VARIABLE GLOBALE
MEM_LIMIT=3g
CPU_LIMIT=0.5
# Environnement Sru : www-test ou www (prod)
ENVIR=www-test


##############################################
#   IDREF-API-DERIVATIONBNF
##############################################
DERIVATION_BNF_HTTP_PORT=


##############################################
#   IDREF-API-DERIVATIONVIAF
##############################################
DERIVATION_VIAF_HTTP_PORT=


##############################################
#   DATA-IDREF
##############################################
DATAIDREF_HTTP_PORT=
DATAIDREF_VIRTUOSO_URL=
DATAIDREF_SPARQL_PUBLIC_ENDPOINT=
