# Port réseau pour les serveurs web
DERIVATION_BNF_HTTP_PORT=9520
DERIVATION_VIAF_HTTP_PORT=9521

# Environnement Sru : www-test ou www (prod)
ENVIR=www-test
IDREF_API_DERIVATION_VERSION=develop

# Caping for containers
MEM_LIMIT=3g
CPU_LIMIT=0.5